<h1>Animal</h1>

<div class="test">
  <div class="animal-menu">
    <div (click)="selectAnimal(0)">all</div>
    <div *ngFor="let menu of animalMenu">
      <div (click)="selectAnimal(menu.id)">{{menu.code}}</div>
    </div>
  </div>

  <div class="animal" *ngIf="allAnimal$ | async as animals">
    <div class="animal-card" *ngFor="let animal of animals">
      <div><img src="{{animal.imgPath}}" alt="animalImage" class="animal-img"></div>
      <div class="animal-name">{{animal.name}}</div>
    </div>
  </div>

</div>
