h1{
  margin-top: 30px;
}

.person{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.person-card{
  margin: 10px 10px;
  border: 1px solid black;
  height: 150px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form{
  margin-top: 50px;
  display: flex;
  flex-direction: column;

}

.form-input{
  align-items: center;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
}

