<h1>Person</h1>
<div *ngIf="persons" class="person">
  <div *ngFor="let person of persons" class="person-card">
    <div>{{person.id}}</div>
    <div>{{person.firstName}}</div>
    <div>{{person.lastName}}</div>
    <div>{{person.age}}</div>
    <div>{{person.sex}}</div>
  </div>
</div>


<div class="form">
  <h1>testPost</h1>
  <form #c="ngForm" (ngSubmit)="sendPerson(c)" novalidate>
    <label>firstName:</label><input name="firstName" type="text" class="form-input" ngModel><br>
    <label>lastName:</label><input name="lastName" type="text" class="form-input" ngModel><br>
    <label>age:</label><input name="age" type="text" class="form-input" ngModel><br>
    <label>sex:</label><input name="sex" type="text" class="form-input" ngModel><br>
    <button type="submit" mat-raised-button>Button</button>
  </form>
</div>

<div class="form">
  <h1>testPut</h1>
  <form #p="ngForm" (ngSubmit)="putPerson(p)" novalidate>
    <label>id:</label><input name="id" type="text" class="form-input" ngModel><br>
    <label>firstName:</label><input name="firstName" type="text" class="form-input" ngModel><br>
    <label>lastName:</label><input name="lastName" type="text" class="form-input" ngModel><br>
    <label>age:</label><input name="age" type="text" class="form-input" ngModel><br>
    <label>sex:</label><input name="sex" type="text" class="form-input" ngModel><br>
    <button type="submit" mat-raised-button>Button</button>
  </form>
</div>

<div class="form">
  <h1>testDelete</h1>
  <form #d="ngForm" (ngSubmit)="deletePerson(d)">
    <label>id:</label><input name="id" type="text" class="form-input" ngModel><br>
    <button type="submit" mat-raised-button>Button</button>
  </form>
</div>

<form [formGroup]="createForm" (ngSubmit)="postForm()">
  <label>firstName:</label><input formControlName="firstName" type="text" class="form-input" required><br>
  <label>lastName:</label><input formControlName="lastName" type="text" class="form-input" ><br>
  <label>age:</label><input formControlName="age" type="number" class="form-input" ><br>
  <label>sex:</label><input formControlName="sex" type="text" class="form-input" ><br>
  <button [disabled]="!createForm.valid" type="submit" mat-raised-button>Button</button>
</form>
